%article
  %h1= @event.name
  %p= @event.description
  %ul
    %li
      %strong When:
      = @event.starts_at
    %li
      %strong Where:
      = @event.location
    %li
      %strong Price:
      = format_price(@event)
%ul.links
  %li.admin.edit
    = link_to "Edit", edit_path
  %li
    = link_to "All Events", events_path
