%article
  %h1= @event.name
  = image_for(@event)
  %p= @event.description
  %ul
    %li
      %strong When:
      = @event.starts_at
    %li
      %strong Where:
      = @event.location
    %li
      %strong Price:
      = format_price(@event)
  %p
    %strong= pluralize(@event.capacity, "spot") 
  = link_to "View Registrations", event_registrations_path(@event)
  %ul.links
    %li.admin.edit
      = link_to "Edit", edit_event_path
    %li
      = link_to "Back to Events", events_path
    %li.admin.delete
      = link_to "Delete", event_path(@event), 
                method: :delete, 
                data: {confirm: "ORly?"}
