!!! 5
/[if lt IE 7] <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="lt-ie10 lt-ie9 lt-ie8">
/[if IE 8] <html class="lt-ie10 lt-ie9">
/[if IE 9] <html class="lt-ie10">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{ charset: "utf-8" } 
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %title Events

  = stylesheet_link_tag "application",
    media: "all",
    "data-turbolinks-track" => true
  = javascript_include_tag "application",
    "data-turbolinks-track" => true
  = yield( :javascript_includes)
  = csrf_meta_tags
  = yield( :head)

%header#header

%body
  = render "layouts/messages"
  = yield

%footer#footer
